<h1>FINDO</h1>

<p>Found a lost dog?</p>

<form action="/found" method="post">
  <p>Serial Number:</p>
  <input name="serial_num">
  <br><br>
  <input type="submit">
</form>

<p>WIP</p>

<ul>
  <li><a href="/owners/new">First time?</a></li>
  <li><a href="/login">Log in</a></li>
</ul>