<center>
  <p>Found a lost dog?</p>

  <form action="/found" method="post">
    <p>Serial Number:</p>
    <input name="serial_num">
    <br><br>
    <input type="submit">
  </form>

  <nav class="home">
    <ul>
      <li><a href="/owners/new" class="text-colour">First time?</a></li>
      <li><p>|</p></li> 
      <li><a href="/login" class="text-colour">Log in</a></li>
    </ul>
  </nav>
</center>